body {
  font-family: "Inter", sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 1.25rem;
}

.app {
  max-width: 75rem;
  margin: 0 auto;
}

.header {
  text-align: center;
  background: #343a40;
  color: white;
  margin-bottom: 2.5rem;
  padding: 1.25rem;
}

.header h1 {
  font-size: 2rem;
  margin-bottom: 0.625rem;
}

.main {
  background: white;
  padding: 2.5rem;
}

.game {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 2.5rem;
}

.drawing {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.drawing img {
  max-width: 12.5rem;
  margin-bottom: 1.25rem;
}

.letters {
  display: flex;
  gap: 0.625rem;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.letters .letter {
  width: 2.5rem;
  height: 2.5rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  border-bottom: 0.1875rem solid #dee2e6;
  text-align: center;
}

.buttons button {
  aspect-ratio: 1;
  font-size: 1.1rem;
  border: none;
  background: #e9ecef;
}

.buttons button[disabled] {
  opacity: 0;
}

.gameplay {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2.5rem, 1fr));
  gap: 0.5rem;
  flex-direction: row;
  margin-top: 1.25rem;
}

.popup {
  position: fixed;
  top: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  pointer-events: none;
  left: 0;
  width: 100%;
  opacity: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.popup.show {
  opacity: 1;
  pointer-events: auto;
}

.popup__content {
  background: white;
  max-width: 25rem;
  width: 90%;
  padding: 1.875rem;
  text-align: center;
}

.restart-btn {
  margin-top: 1.25rem;
  padding: 0.75rem 1.5rem;
  background: #343a40;
  color: white;
  border: none;
}
